<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Gemeente uitgaven 2017</title>
      <link href="static/css/all.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="http://localhost:8080/static/js/build/web.js"></script>
</html>